.gradient-custom-3 {
  background: #84fab0;

  background: -webkit-linear-gradient(
    to right,
    rgb(58, 92, 241, 0.5),
    rgb(255, 0, 140, 0.5)
  );

  background: linear-gradient(
    to right,
    rgb(58, 92, 241, 0.5),
    rgb(255, 0, 140, 0.5)
  );
}
.gradient-custom-4 {
  background: #84fab0;

  background: -webkit-linear-gradient(
    to right,
    rgb(58, 92, 241),
    rgb(255, 0, 140)
  );

  background: linear-gradient(
    to right,
    rgb(58, 92, 241),
    rgb(255, 0, 140)
  );
}
