/* You can add global styles to this file, and also import other style files */

body {
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: -56px;
  width: 100%;
}

.card {
  border: none;
}
