.not-found-image {
  display: block;
  margin: 0 auto;
  width: 52%;
}

.not-found-container {
  padding: 25px 40px 0;
}

button {
  margin-left: 850px;
  margin-top: 20px;
}

h1 {
  font-family:fantasy;
}