<div class="container home base" *ngIf="isArtExisting">
  <div class="card box">
    <div class="container-fliud">
      <div class="wrapper">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img src="{{ art.imageURL }}" class="art-img" />
            </div>
          </div>
        </div>
        <div class="details col-md-6 part">
          <h3 class="product-title space title">{{ art.title }}</h3>
          <h5 class="product-title space artist">Artist: {{ art.author }}</h5>

          <p class="product-description space desc">
            {{ art.description }}
          </p>
          <div class="action space bot">
            <div *ngIf="IsUserAuthor(art.creatorId)">
              <button
                class="edit btn btn-default"
                type="button"
                [routerLink]="editLink"
              >
                Edit
              </button>
              <button
                class="delete btn btn-default"
                type="button"
                (click)="deleteArt()"
              >
                Delete
              </button>
            </div>
            <div *ngIf="!IsUserAuthor(art.creatorId)" class="text-center m-0">
              <p class="likes">Likes: {{ art.likes }}</p>
              <a class="like btn btn-default" (click)="likeArt(art)">Like Art</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
