.base {
  width: 100%;
  text-align: center;
}

.box {
  margin: 25px 0;
}

.btn {
  margin: 10px;
}

.bot {
  padding: 20px;
}

.art-img {
  max-width: 100%;
}

.title {
  font-size: 60px;
  margin-top: 20px;
}

.artist {
  font-size: 35px;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px;
}

.desc {
  font-size: 24px;
  padding: 0 150px;
  padding-bottom: 20px;
}

.desc::after {
  content: "";
  background: grey;
  position: absolute;
  bottom: 110px;
  left: 170px;
  height: 1px;
  width: 75%;
}

.edit {
  background: #ffd900;
  font-weight: bold;
  color: #fff;
}
.edit:hover {
  background: #eeff00;
  color: #fff;
}

.delete {
  background: #ff0022;
  font-weight: bold;
  color: #fff;
}

.delete:hover {
  background: #ff5b91;
  color: #fff;
}

.like {
  background: #00a2ff;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  margin-bottom: 16px;
}

.like:hover {
  background: #00e1ff;
  color: #fff;
}

.likes {
  display: inline-block;
  font-size: 24px;
}

.col-md-6 {
  flex-direction: column;
  width: 100%;
}
