#art-holder {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.current-card {
  max-width: 620px;
  min-width: 250px;
  width: 60%;
}

.card-text {
  margin-top: -15px;
  margin-bottom: 15px;
}

.card-image {
  min-width: 300px;
  max-width: 100%;
  border-radius: 12px;
}
