.gradient {
  background: #000000;

  background: -webkit-linear-gradient(
    to right,
    rgba(2, 0, 26, 0.6),
    rgba(44, 0, 92, 0.6),
    rgba(2, 0, 117, 0.6)
  );

  background: linear-gradient(
    to right,
    rgba(2, 0, 26, 0.6),
    rgba(44, 0, 90, 0.6),
    rgba(2, 0, 110, 0.6)
  );
}