<div *ngIf="!editingMode">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
          <div
            class="image d-flex flex-column justify-content-center align-items-center"
          >
            <img src="{{ photo }}" height="100" width="100" />
            <span class="name mt-3 p-info m-username">{{ username }}</span>
            <span class="idd">Artist</span>
            <div class="text mt-3 p-info"><span>Profile Information</span></div>
            <div class="text mt-3 p-info">
              <span>Email: {{ email }}</span>
            </div>
            <div class="text mt-3 p-info">
              <span>Username: {{ username }}</span>
            </div>
            <div class="text mt-3 p-info">
              <span
                >Intro: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas molestias modi facilis, assumenda corporis debitis.
                Eveniet ipsum commodi distinctio sit excepturi aut sint, ut,
                repudiandae, molestiae inventore ipsa reiciendis ad. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit. Vel qui
                recusandae illo, commodi quisquam cumque ad fugit impedit
                obcaecati doloribus sit. Tenetur repellat harum dolorem
                praesentium ducimus optio enim voluptas!</span
              >
            </div>
            <div class="d-flex mt-2 p-btn-ctn">
              <button
                class="btn1 btn-dark p-btn"
                id="editButton"
                (click)="toggleEdit()"
              >
                Edit Profile Image
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editingMode">
  <div class="login d-flex align-items-center py-5">
    <div class="container">
      <div class="row preview">
        <div class="col-lg-10 col-xl-7 mx-auto">
          <h3 class="display-4 this">Change profile picture</h3>
          <form (ngSubmit)="onSubmit()" [formGroup]="profilePicForm">
            <div class="form-group mb-3 change">
              <label for="picture" class="px-4 change">New image Url:</label>
              <input
                type="text"
                id="picture"
                name="picture"
                class="form-control rounded-pill border-0 shadow-sm px-4 text-primary change"
                placeholder="Image URL..."
                required
                formControlName="picture"
              />
              <div
                *ngIf="form.picture.errors?.required && form.picture.touched"
              >
                <p class="text-danger change">Image URL is required!</p>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block mb-2 rounded-pill shadow-sm change"
            >
              Submit new picutre
            </button>
            <hr />
            <div class="preview">
              <p class="px-4 change">Image Preview:</p>
              <img class="preview" [src]="form.picture.value" alt="Picture" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
