body {
  background-color: #f9f9fa;
}

#page-content {
  background-image: url("/assets/dart.jpg");
  min-height: 100vh;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
  word-wrap: normal;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background: -webkit-gradient(from(#7863f2), to(#ea00ff));
  background: linear-gradient(to right, #7863f2, #ea00ff);
}

.user-profile {
  padding: 40px 0;
}

.bold {
  font-weight: bold;
}

.profile-img {
  min-width: 400px;
  height: auto;
}

.m-username {
  font-size: 40px;
  font-weight: bold;
}

.info {
  font-size: 24px;
  font-weight: bold;
}

.p-text {
  font-size: 20px;
}

.p-info {
  border-bottom: 1px solid lightgrey;
  padding: 5px 0;
}

.p-intro {
  padding: 10px 60px 0;
  width: 750px;
  font-size: 18px;
}

.p-btn-ctn {
  padding-top: 60px;
}

.p-btn {
  padding: 5px 15px;
  border-radius: 8px;
}

.preview {
  text-align: center;
}
