body {
  background-color: #f9f9fa;
}

.padding {
  background-image: url("/assets/dart.jpg");
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
  word-wrap: normal;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background: -webkit-gradient(
    from(#7863f2),
    to(#ea00ff)
  );
  background: linear-gradient(to right, #7863f2, #ea00ff);
}

.user-profile {
  padding: 40px 0;
}

img {
  width: 50%;
  height: 50%;
}

.m-username {
  font-size: 30px;
  font-weight: bold;
}

.p-info {
  border-bottom: 1px solid lightgrey;
  max-width: 50%;
}

.p-btn-ctn {
  padding-top: 60px;
}

.p-btn {
  padding: 5px 15px;
  border-radius: 8px;
}

.preview {
  text-align: center;
}
